		<div class="container-fluid subpage-body-container">
			<div class="container body-copy">
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2 icon">
						<img src="/presents/bfw/designs/images/icons/red-phone-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Call Us</p>
						<p class="thin">Ready to get your project started? Please give us a call, we can't wait to hear from you.</p>
						<p class="thick"><a href="tel: 515-207-3778">515.207.3778</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2">
						<img src="/presents/bfw/designs/images/icons/red-pin-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Visit Us</p>
						<p class="thin">Come see our products in person and see our ever-changing inventory.</p>
						<p class="thick">4060 NW Urbandale Drive, Urbandale, IA 50322</p>
						<p><a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2">
						<img src="/presents/bfw/designs/images/icons/red-email-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Send An Email</p>
						<p class="thin">You can send us an email with your questions and we will get back with you shortly.</p>
						<p><a href="">Send Us a Message <span class="fa fa-long-arrow-right"></span></a></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid map-container">
			<div id="map"></div>
		</div>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjKVWPN-cZldj2olFqVTOtLhzGeG63_NE&callback=initMap" async defer></script>

        
        <script type="text/javascript">
            function initMap() {
                var mapOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(41.5906217, -93.7278505),
					disableDefaultUI: true,
                    styles: [{"featureType":"administrative","elementType":"labels","stylers":[{"color":"#FFFFFF"},{"visibility":"simplified"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"simplified"},{"color":"#303030"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#000000"},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.text","stylers":[{"visibility":"simplified"},{"color":"#FFFFFF"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#808080"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"color":"#FFFFFF"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#303030"}]}]
                };
                var mapElement = document.getElementById('map');
                var map = new google.maps.Map(mapElement, mapOptions);
				var image = '/presents/bfw/designs/images/marker.png';
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(41.5906217, -93.7278505),
                    map: map,
					icon: image,
                    title: ''
                });
            }
        </script>
		
		<div id="contact-form" class="container-fluid form-container">
			<div class="container">
				<div class="row">
                                        <div class="white-bg">
	     			  		<%= render 'includes/form_notice' %>
	   		    	     	</div>		 
					<div class="col-xs-12 text-center">
						<h1 class="form-title">Send us a message</h1>
						<div class="divider"><img src="/presents/bfw/designs/images/gray-divider.png"></div>
					</div>
				</div>
				<div class="row form">
					<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
						<form action="#contact-form" method="post" class="contact-form">
                                			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<input type="text" name="fname" class="form-field" placeholder="Your First Name" required>
								</div>
								<div class="col-xs-12 col-md-6">
									<input type="text" name="lname" class="form-field" placeholder="Your Last Name" required>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<input type="email" name="email" class="form-field" placeholder="Your Email Address" required>
								</div>
								<div class="col-xs-12 col-md-6">
									<input type="tel" name="phone" class="form-field" placeholder="Your Phone Number" required>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<input type="text" name="company" class="form-field" placeholder="Your Company Name" required>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<textarea name="message" class="form-area" placeholder="Your Message" rows="7" required></textarea>
								</div>
							</div>
							<div class="row">
								<div class="captcha-container">
									<div class="g-recaptcha" data-sitekey="6LcZhD0UAAAAAA-zFAekeGr83o-eY23FF3gNb7z6"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="black-btn">Send message <span class="fa fa-long-arrow-right"></span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
