<%= render :partial => 'includes/header' %>
		<%= render :partial => 'includes/nav' %>
		<% if !@webpage.main_img.blank? %>
			<div class="subpage-main-img">
				<img src="<%= @webpage.main_img.html_safe %>" alt="<%= @webpage.main_img_des %>">
			</div>
		<% end %>

		<%= yield %>
		
	<%= render :partial => 'includes/footer' %>