<%= render :partial => 'includes/header' %>
		<%= render :partial => 'includes/nav' %>

		<div class="main-hero-container container-fluid">
			<div class="customNav">
				<div class="owl-prev"><img src="/presents/bfw/designs/images/prev-btn.png" alt="Slider Nav Previous"></div>
				<div class="owl-next"><img src="/presents/bfw/designs/images/next-btn.png" alt="Slider Nav Next"></div>
			</div>
			<% desktop_banner = @website.active_in_position('bannerPosition-1') %>
			<% if !desktop_banner.blank? %>
		 		<div class="hero owl-carousel hidden-xs">
					<% desktop_banner.each do |banner| %>
						<% if banner.new_window %>
							<% target = "_blank" %>
						<% else %>
							<% target = "_self" %>
						<% end %>
						<div class="item">
							<img src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
							<div class="hero-text-container">
								<%= banner.overlay_text_1 %>
								<% if !banner.url.blank? %>
									<div class="divider-container">
										<img src="/presents/bfw/designs/images/divider.png" alt="Divider">
									</div>
									<a href="<%= banner.url %>" target="<%= target %>"><button class="clear-btn"><%= banner.overlay_text_2 %> <span class="fa fa-long-arrow-right"></span></button></a>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>   
			<% end %>
			<% desktop_banner = @website.active_in_position('bannerPosition-1000') %>
			<% if !desktop_banner.blank? %>
		 		<div class="hero owl-carousel visible-xs">
					<% desktop_banner.each do |banner| %>
						<% if banner.new_window %>
							<% target = "_blank" %>
						<% else %>
							<% target = "_self" %>
						<% end %>
						<div class="item">
							<img src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
							<div class="hero-text-container">
								<%= banner.overlay_text_1 %>
								<% if !banner.url.blank? %>
									<div class="divider-container">
										<img src="/presents/bfw/designs/images/small-divider.png" alt="Divider">
									</div>
									<a href="<%= banner.url %>" target="<%= target %>"><button class="clear-btn"><%= banner.overlay_text_2 %> <span class="fa fa-long-arrow-right"></span></button></a>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>   
			<% end %>
		</div>

		<script>
			$(document).ready(function(){
				heroOwl = $('.hero');
				heroOwl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				// Custom Navigation Events
				$(".owl-prev").click(function () {
					 heroOwl.trigger('prev.owl.carousel');
				});

				$(".owl-next").click(function () {
					 heroOwl.trigger('next.owl.carousel');
				});
			});
		</script>
		
		<div class="container-fluid contact-strip">
			<div class="container">
				<div class="col-xs-12 col-sm-3 col-md-4">
					<img src="/presents/bfw/designs/images/icons/red-phone-icon.png" class="icon-img"> 
					<div class="section-title">Call Us</div>
					<a href="tel:<%= @property.main_phone %>"><%= @property.security_phone %></a>
				</div>
				<div class="col-xs-12 col-sm-5">
					<img src="/presents/bfw/designs/images/icons/red-pin-icon.png" class="icon-img"> 
					<div class="section-title">Visit Us</div>
					<a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank">
						<%= @property.postal_address_1 %>, <%= @property.postal_city_name %>, <%= @property.postal_state_name %> <%= @property.postal_zipcode %>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<img src="/presents/bfw/designs/images/icons/red-email-icon.png" class="icon-img"> 
					<div class="section-title">Send An Email</div>
					<a href="/contact-us">Contact Us Directly</a>
				</div>
			</div>
		</div>
		
		<div class="container-fluid deal-slider-container">
			<div class="dealNav">
				<div class="prev"><img src="/presents/bfw/designs/images/red-prev-btn.png" alt="Deal Nav Previous"></div>
				<div class="next"><img src="/presents/bfw/designs/images/red-next-btn.png" alt="Deal Nav Next"></div>
			</div>
			<div class="container">
				<div class="section-title">
					<div class="col-xs-12 col-sm-9">
						<h3>Awesome Deals</h3>
						<p>While They Last</p>
						<div class="sm-red-divider"></div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<p class="right"><a href="">See All Sales &amp; Specials <span class="fa fa-long-arrow-right"></span></a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<% deals_banner = @website.active_in_position('bannerPosition-1001') %>
				<% if !deals_banner.blank? %>
					<div class="deal-slider owl-carousel">
						<% deals_banner.each do |banner| %>
							<% if banner.new_window %>
								<% target = "_blank" %>
							<% else %>
								<% target = "_self" %>
							<% end %>
							<div class="item">
								<div class="deal-img">
									<img src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
								</div>
								<div class="slide-title">
									<%= banner.name %>
								</div>
								<div class="slide-desc">
									<%= banner.overlay_text_1 %>
								</div>
								<% if !banner.url.blank? %>
									<a href="<%= banner.url %>" target="<%= target %>"><div class="clear-btn">See More <span class="fa fa-long-arrow-right"></span></div></a>
								<% end %>
							</div>
						<% end %>
					</div>   
				<% end %>
			</div>
		</div>

		<script>
			$(document).ready(function(){
				dealOwl = $('.deal-slider');
				dealOwl.owlCarousel({
					items: 3,
					margin: 70,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true,
					responsive:{
						0: {
							items: 1,
							margin: 10
						},
						768: {
							items: 2,
							margin: 10
						},
						992: {
							items: 3
						}
					}
				});
				// Custom Navigation Events
				$(".prev").click(function () {
					 dealOwl.trigger('prev.owl.carousel');
				});

				$(".next").click(function () {
					 dealOwl.trigger('next.owl.carousel');
				});
			});
		</script>
		
		<div class="container-fluid tiles-container">
			<% deals_banner = @website.active_in_position('bannerPosition-1002') %>
			<% if !deals_banner.blank? %>
				<% deals_banner.each do |banner| %>
					<div class="tile">
						<% if banner.new_window %>
							<% target = "_blank" %>
						<% else %>
							<% target = "_self" %>
						<% end %>
						<div class="right-tile visible-xs">
							<img class="img" src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
						</div>
						<div class="left-tile">
							<h3 class="tile-title"><%= banner.overlay_text_1 %></h3>
							<div class="sm-red-divider"></div>
							<p><%= banner.overlay_text_2 %></p>
							<% if !banner.url.blank? %>
								<a href="<%= banner.url %>" target="<%= target %>"><img src="/presents/bfw/designs/images/down-arrow.png" alt="See More"></a>
							<% end %>
						</div>
						<div class="right-tile hidden-xs">
							<img class="img" src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
						</div>
					</div> 
				<% end %>  
			<% end %>
			<div class="hidden-xs hidden-sm">
				<% deals_banner = @website.active_in_position('bannerPosition-1003') %>
				<% if !deals_banner.blank? %>
					<% deals_banner.each do |banner| %>
						<div class="tile">
							<% if banner.new_window %>
								<% target = "_blank" %>
							<% else %>
								<% target = "_self" %>
							<% end %>
							<div class="b-left-tile">
								<img class="img" src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
							</div>
							<div class="b-right-tile">
								<h3 class="tile-title"><%= banner.overlay_text_1 %></h3>
								<div class="sm-red-divider"></div>
								<p><%= banner.overlay_text_2 %></p>
								<% if !banner.url.blank? %>
									<a href="<%= banner.url %>" target="<%= target %>"><img src="/presents/bfw/designs/images/down-arrow.png" alt="See More"></a>
								<% end %>
							</div>
						</div>
					<% end %>  
				<% end %>
			</div>
			<div class="visible-xs visible-sm">
			<% deals_banner = @website.active_in_position('bannerPosition-1003') %>
			<% if !deals_banner.blank? %>
				<% deals_banner.each do |banner| %>
					<div class="tile">
						<% if banner.new_window %>
							<% target = "_blank" %>
						<% else %>
							<% target = "_self" %>
						<% end %>
						<div class="right-tile visible-xs">
							<img class="img" src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
						</div>
						<div class="left-tile">
							<h3 class="tile-title"><%= banner.overlay_text_1 %></h3>
							<div class="sm-red-divider"></div>
							<p><%= banner.overlay_text_2 %></p>
							<% if !banner.url.blank? %>
								<a href="<%= banner.url %>" target="<%= target %>"><img src="/presents/bfw/designs/images/down-arrow.png" alt="See More"></a>
							<% end %>
						</div>
						<div class="right-tile hidden-xs">
							<img class="img" src="<%= banner.media_url %>" alt="<%= banner.img_desc %>">
						</div>
					</div> 
				<% end %>  
			<% end %>
			</div>
		</div>
		
		<div class="container-fluid home-about-container">
			<div class="container">
				<div class="right-container visible-xs">
					<img src="/presents/bfw/designs/images/video.jpg" class="vid-img" alt="YouTube video">
				</div>
				<div class="left-container">
					<%= @webpage.content.html_safe %>
				</div>
				<div class="right-container hidden-xs">
					<img src="/presents/bfw/designs/images/video.jpg" class="vid-img" alt="YouTube video">
				</div>
			</div>
		</div>
		
	<%= render :partial => 'includes/footer' %>