<%= render :partial => 'includes/header' %>
		<%= render :partial => 'includes/nav' %>

		<div class="breadcrumb-container">
			<div class="container">
				<div class="col-xs-12">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li><li>Inspiration</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid sub-body-container">
			<div class="container backlink-container">
				<div class="col-xs-12">
					<a href="index.html"><span class="fa fa-long-arrow-left"></span> Back to Home</a>
				</div>
				<div class="sm-red-divider"></div>
			</div>
			<div class="container body-copy">
				<h1 class="page-title">Get Inspired</h1>
				<div class="divider"><img src="images/gray-divider.png"></div>
				<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<div class="seo-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec nisl ut erat placerat sodales. Sed nec accumsan purus, suscipit mattis quam. Suspendisse potenti. Pellentesque eget bibendum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid gallery-container">
			<div class="grid">
				<div class="grid-col-large">
					<div class="grid-item grid-item-large">
						<img src="images/gallery/image-1.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
				</div>
				<div class="grid-col-small">
					<div class="grid-item grid-item-small">
						<img src="images/gallery/image-2.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
					<div class="grid-item grid-item-small">
						<img src="images/gallery/image-3.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="grid-col-small">
					<div class="grid-item grid-item-small">
						<img src="images/gallery/image-5.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
					<div class="grid-item grid-item-small">
						<img src="images/gallery/image-6.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
					<div class="grid-item grid-item-small">
						<img src="images/gallery/image-7.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
				</div>
				<div class="grid-col-large">
					<div class="grid-item grid-item-large">
						<img src="images/gallery/image-4.jpg" class="star" alt="HON Conference Table">
						<div class="hover-text-container">
							HON Preside Conference Table with Ignition Conference Chairs
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="container-fluid contact-container">
			<div class="container">
				<div class="col-xs-12 col-md-6">
					<h2>Any Questions? Call Us or Contact Us Online</h2>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="col-xs-12 col-md-6 method">
						<div class="col-xs-2">
							<img src="images/icons/red-phone-icon.png" alt="Call Us">
						</div>
						<div class="col-xs-8">
							<span class="thick">Call Us</span><br><span class="thin"><a href="tel:515-207-3778">515.207.3778</a></span>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 method">
						<div class="col-xs-2">
							<img src="images/icons/red-email-icon.png" alt="Call Us">
						</div>
						<div class="col-xs-8">
							<span class="thick">Send An Email</span><br><span class="thin"><a href="">Contact Us Directly</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			function showImages(el) {
			    var windowHeight = jQuery( window ).height();
			    $(el).each(function(){
			        var thisPos = $(this).offset().top;

			        var topOfWindow = $(window).scrollTop();
			        if(topOfWindow + windowHeight - 200 > thisPos){
			           $(this).addClass("fadeIn");
			        }
			    });
			}

			// if the image in the window of browser when the page is loaded, show that image
			$(document).ready(function(){
			    showImages('.star');
				$('.grid-item').mouseenter(function(){
					$(this).find('.hover-text-container').addClass('moveUp');
					$(this).find('.hover-text-container').removeClass('moveDown');
				});
				$('.grid-item').mouseleave(function(){
					$(this).find('.hover-text-container').addClass('moveDown');
					$(this).find('.hover-text-container').removeClass('moveUp');
				});
			});

			// if the image in the window of browser when scrolling the page, show that image
			$(window).scroll(function() {
			    showImages('.star');
			});

		    // if the image in the window of browser when the page is loaded, show that image
		    $(document).ready(function(){
		            showImages('.star');
		    });

		    // if the image in the window of browser when scrolling the page, show that image
		    $(window).scroll(function() {
		            showImages('.star');
		    });
		</script>
		
		<%= render :partial => 'includes/footer' %>