<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>BFW</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/show-hide.js"></script>
	<script src="js/masonry.js"></script>
	<script src="js/imagesloaded.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet">  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>
<body>
	<div class="site-wrapper">
		<div class="subpage-nav-bg"></div>
		<div class="container-fluid main-nav-container">
			<div class="container">
				<ul class="nav">
					<div class="logo-container">
						<li class="logo"><img src="images/BFW-Logo.png" class="img-responsive"></li>
					</div>
					<div class="links">
						<li class="link"><a href="">New Office Furniture</a></li>
						<li class="link"><a href="">Pre-Owned Office Furniture</a></li>
						<li class="link"><a href="">Rental Office Furniture</a></li>
						<li class="link"><a href="">Sale</a></li>
						<li class="link"><a href="">Service</a></li>
						<li class="link"><a href="">About Us</a></li>
						<li class="link"><a href="">Contact Us</a></li>
					</div>
					<div class="icons">
						<li class="icon"><img class="search" src="images/icons/search-icon.png"></li>
						<li class="icon"><img class="phone" src="images/icons/phone-icon.png"></li>
						<li class="icon"><img class="pin" src="images/icons/pin-icon.png"></li>
						<li class="icon"><img class="email" src="images/icons/email-icon.png"></li>
					</div>
				</ul>
			</div>
		</div>

		<div class="breadcrumb-container">
			<div class="container">
				<div class="col-xs-12">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li>Inspiration</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid sub-body-container">
			<div class="container backlink-container">
				<div class="col-xs-12">
					<a href="index.html"><span class="fa fa-long-arrow-left"></span> Back to Home</a>
				</div>
				<div class="sm-red-divider"></div>
			</div>
			<div class="container body-copy">
				<h1 class="page-title">Get Inspired</h1>
				<div class="divider"><img src="images/gray-divider.png"></div>
				<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<div class="seo-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec nisl ut erat placerat sodales. Sed nec accumsan purus, suscipit mattis quam. Suspendisse potenti. Pellentesque eget bibendum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid gallery-container">
			<div id="photos">
				<div class="large item">
					<img src="images/gallery/image-1.jpg" alt="HON Conference Table">
				</div>
				<div class="item">
			  		<img src="images/gallery/image-2.jpg" alt="HON Conference Table">
			  	</div>
			  	<div class="item">
			  		<img src="images/gallery/image-3.jpg" alt="HON Conference Table">
			  	</div>
			  	<div class="item">
			  		<img src="images/gallery/image-5.jpg" alt="HON Conference Table">
			  	</div>
			  	<div class="item">
			  		<img src="images/gallery/image-6.jpg" alt="HON Conference Table">
			  	</div>
			  	<div class="item">
			  		<img src="images/gallery/image-7.jpg" alt="HON Conference Table">
			  	</div>
			  	<div class="large">
			  		<img src="images/gallery/image-4.jpg" alt="HON Conference Table">
			  	</div>
			</div>
		</div>

		<script>
		</script>
	</div>
</body>
</html>