<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>BFW</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/show-hide.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet">  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>
<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav-container">
			<div class="container">
				<ul class="nav">
					<div class="logo-container">
						<li class="logo"><img src="images/BFW-Logo.png" class="img-responsive"></li>
					</div>
					<div class="links">
						<li class="link"><a href="">New Office Furniture</a></li>
						<li class="link"><a href="">Pre-Owned Office Furniture</a></li>
						<li class="link"><a href="">Rental Office Furniture</a></li>
						<li class="link"><a href="">Sale</a></li>
						<li class="link"><a href="">Service</a></li>
						<li class="link"><a href="">About Us</a></li>
						<li class="link"><a href="">Contact Us</a></li>
					</div>
					<div class="icons">
						<li class="icon"><img class="search" src="images/icons/search-icon.png"></li>
						<li class="icon"><img class="phone" src="images/icons/phone-icon.png"></li>
						<li class="icon"><img class="pin" src="images/icons/pin-icon.png"></li>
						<li class="icon"><img class="email" src="images/icons/email-icon.png"></li>
					</div>
				</ul>
			</div>
		</div>

		<div class="main-hero-container container-fluid">
			<div class="customNav">
				<div class="owl-prev"><img src="images/prev-btn.png" alt="Slider Nav Previous"></div>
				<div class="owl-next"><img src="images/next-btn.png" alt="Slider Nav Next"></div>
			</div>
			<div class="hero owl-carousel">
				<div class="item">
					<img src="images/slides/slide1.jpg" alt="New Office Furniture">
					<div class="hero-text-container">
						We Make Workspaces That Are Simple, Fast, &amp; Affordable
						<div class="divider-container">
							<img src="images/divider.png" alt="Divider">
						</div>
						<a href=""><button class="clear-btn">Contact Us to Get Started <span class="fa fa-long-arrow-right"></span></button></a>
					</div>
				</div>
				<div class="item">
					<img src="images/slides/slide2.jpg" alt="New Office Furniture">
					<div class="hero-text-container">
						We Make Workspaces That Are Simple, Fast, &amp; Affordable 
					</div>
				</div>
				<div class="item">
					<img src="images/slides/slide3.jpg" alt="New Office Furniture">
					<div class="hero-text-container">
						We Make Workspaces That Are Simple, Fast, &amp; Affordable 
					</div>
				</div>
				<div class="item">
					<img src="images/slides/slide4.jpg" alt="New Office Furniture">
					<div class="hero-text-container">
						We Make Workspaces That Are Simple, Fast, &amp; Affordable 
					</div>
				</div>
				<div class="item">
					<img src="images/slides/slide5.jpg" alt="New Office Furniture">
					<div class="hero-text-container">
						We Make Workspaces That Are Simple, Fast, &amp; Affordable 
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function(){
				heroOwl = $('.hero');
				heroOwl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				// Custom Navigation Events
				$(".owl-prev").click(function () {
					 heroOwl.trigger('prev.owl.carousel');
				});

				$(".owl-next").click(function () {
					 heroOwl.trigger('next.owl.carousel');
				});
			});
		</script>
		
		<div class="container-fluid contact-strip">
			<div class="container">
				<div class="col-xs-12 col-sm-4">
					<img src="images/icons/red-phone-icon.png" class="icon-img"> 
					<div class="section-title">Call Us</div>
					515.207.3778
				</div>
				<div class="col-xs-12 col-sm-5">
					<img src="images/icons/red-pin-icon.png" class="icon-img"> 
					<div class="section-title">Visit Us</div>
					4060 NW Urbandale Drive, Urbandale, IA 50322
				</div>
				<div class="col-xs-12 col-sm-3">
					<img src="images/icons/red-email-icon.png" class="icon-img"> 
					<div class="section-title">Send An Email</div>
					Contact Us Directly
				</div>
			</div>
		</div>
		
		<div class="container-fluid deal-slider-container">
			<div class="dealNav">
				<div class="prev"><img src="images/red-prev-btn.png" alt="Deal Nav Previous"></div>
				<div class="next"><img src="images/red-next-btn.png" alt="Deal Nav Next"></div>
			</div>
			<div class="container">
				<div class="section-title">
					<div class="col-xs-12 col-sm-10">
						<h3>Awesome Deals</h3>
						<p>While They Last</p>
						<div class="sm-red-divider"></div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<p class="right">See All Sales &amp; Specials <span class="fa fa-long-arrow-right"></span></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="deal-slider owl-carousel">
					<div class="item">
						<div class="deal-img">
							<img src="images/deals/deal-1.jpg" class="deal-img">
						</div>
						<div class="slide-title">
							Are You Ready for the Game?
						</div>
						<div class="slide-desc">
							We have University of Iowa and Iowa State stools and tables available.
						</div>
						<div class="clear-btn">See More <span class="fa fa-long-arrow-right"></span></div>
					</div>
					<div class="item">
						<div class="deal-img">
							<img src="images/deals/deal-2.jpg" class="deal-img">
						</div>
						<div class="slide-title">
							Height Adjustable Desks in Stock
						</div>
						<div class="slide-desc">
							Electrical Dual Motor Sit/Stand Desks - Bases ONLY Starting at $450.00 - $599.00
						</div>
						<div class="clear-btn">See More <span class="fa fa-long-arrow-right"></span></div>
					</div>
					<div class="item">
						<div class="deal-img">
							<img src="images/deals/deal-3.jpg" class="deal-img">
						</div>
						<div class="slide-title">
							Huge Seating Truckload Sale
						</div>
						<div class="slide-desc">
							Some of our BEST SELLING chairs at our LOWEST PRICES. **Limited time offer.
						</div>
						<div class="clear-btn">See More <span class="fa fa-long-arrow-right"></span></div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function(){
				dealOwl = $('.deal-slider');
				dealOwl.owlCarousel({
					items: 3,
					margin: 70,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				// Custom Navigation Events
				$(".prev").click(function () {
					 dealOwl.trigger('prev.owl.carousel');
				});

				$(".next").click(function () {
					 dealOwl.trigger('next.owl.carousel');
				});
			});
		</script>
		
		<div class="container-fluid tiles-container">
			<div class="tile margin-right">
				<div class="left-tile">
					<h3 class="tile-title">new office furniture</h3>
					<div class="sm-red-divider"></div>
					<p>Our knowledgeable staff can assist you with solutions that fit your needs and your budget, no matter what size project you have.</p>
					<div class="down-arrow"><a href=""><img src="images/down-arrow.png" alt="See More"></a></div>
				</div>
				<div class="right-tile">
					<img class="img" src="images/callouts/callout-1.jpg" alt="callout">
				</div>
			</div>
			<div class="tile">
				<div class="left-tile">
					<h3 class="tile-title">new office furniture</h3>
					<div class="sm-red-divider"></div>
					<p>Our knowledgeable staff can assist you with solutions that fit your needs and your budget, no matter what size project you have.</p>
					<div class="down-arrow"><a href=""><img src="images/down-arrow.png" alt="See More"></a></div>
				</div>
				<div class="right-tile">
					<img class="img" src="images/callouts/callout-2.jpg" alt="callout">
				</div>
			</div>
		</div>
		
		<div class="container-fluid home-about-container">
			<div class="container">
				<div class="left-container">
					<h2>Iowa's Largest Office Furnature Showroom</h2>
					<div class="divider-container"><img src="images/small-divider.png" alt="Divider"></div>
					<p><strong>Business Furniture Warehouse specializes in both new and used office furniture and furnishings!</strong></p>
					<p>Our 20,000 sqf showroom of office furniture is conveniently located right off I35 in Des Moines, Iowa and features a huge selection of new &amp; used office furniture, including office chairs, desk chairs, guest chairs, and task chairs. We also have a large selection of conference tables, training room tables, as well as lateral and vertical file cabinets, workstations, cubicles, office partitions, and workstation accessories. We offer furniture for your reception area, classrooms and collaborative lounge areas. Looking for rental office furniture? Give us a call. Business Furniture Warehouse offers a huge selection of Hon furniture.</p>
					<p><a href=""><strong>See More</strong><span class="fa fa-long-arrow-right"></span></a></p>
				</div>
				<div class="right-container">
					<img src="images/video.jpg" class="vid-img" alt="YouTube video">
				</div>
			</div>
		</div>
		
		<div class="footer-container container-fluid">
			<div class="container">
				<div class="col-xs-12 col-md-3">
					<span class="fa fa-youtube-play"></span>
					<span class="fa fa-facebook-official"></span>
				</div>
				<div class="col-xs-12 col-md-7">
					<div class="col-xs-12 col-md-4">
						Call Us: 515.207.3778
					</div>
					<div class="col-xs-12 col-md-8">
						Visit Us: 4060 NW Urbandale Drive, Urbandale, IA 50322
					</div>
				</div>
				<div class="col-xs-12 col-md-2">
					<img src="images/hon-logo.png" class="img-responsive" alt="HON">
				</div>
			</div>
		</div>
	</div>
</body>
</html>