<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>BFW</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/show-hide.js"></script>
	<script src="js/masonry.js"></script>
	<script src="js/imagesloaded.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet">  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
 	<script src="https://www.google.com/recaptcha/api.js"></script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>
<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav-container">
			<div class="container">
				<ul class="nav">
					<div class="logo-container">
						<li class="logo"><img src="images/BFW-Logo.png" class="img-responsive"></li>
					</div>
					<div class="links">
						<li class="link">
							<a href="">New Office Furniture</a>
							<div class="subnav">
								<ul>
									<li><a href="">sublink 1</a></li>
									<li><a href="">sublink 2</a></li>
									<li><a href="">sublink 3</a></li>
									<li><a href="">sublink 4</a></li>
									<li><a href="">sublink 5</a></li>
									<li><a href="">sublink 6</a></li>
									<li><a href="">sublink 7</a></li>
									<li><a href="">sublink 8</a></li>
								</ul>
							</div>
						</li>
						<li class="link">
							<a href="">Pre-Owned Office Furniture</a>
							<div class="subnav">
								<ul>
									<li><a href="">sublink 1</a></li>
									<li><a href="">sublink 2</a></li>
									<li><a href="">sublink 3</a></li>
									<li><a href="">sublink 4</a></li>
									<li><a href="">sublink 5</a></li>
									<li><a href="">sublink 6</a></li>
									<li><a href="">sublink 7</a></li>
									<li><a href="">sublink 8</a></li>
								</ul>
							</div>
						</li>
						<li class="link">
							<a href="">Rental Office Furniture</a>
							<div class="subnav">
								<ul>
									<li><a href="">sublink 1</a></li>
									<li><a href="">sublink 2</a></li>
									<li><a href="">sublink 3</a></li>
									<li><a href="">sublink 4</a></li>
									<li><a href="">sublink 5</a></li>
									<li><a href="">sublink 6</a></li>
									<li><a href="">sublink 7</a></li>
									<li><a href="">sublink 8</a></li>
								</ul>
							</div>
						</li>
						<li class="link"><a href="">Sale</a></li>
						<li class="link"><a href="">Service</a></li>
						<li class="link"><a href="">About Us</a></li>
						<li class="link"><a href="">Contact Us</a></li>
					</div>
					<div class="icons">
						<li class="icon"><img class="search" src="images/icons/search-icon.png"></li>
						<li class="icon"><img class="phone" src="images/icons/phone-icon.png"></li>
						<li class="icon"><img class="pin" src="images/icons/pin-icon.png"></li>
						<li class="icon"><img class="email" src="images/icons/email-icon.png"></li>
					</div>
				</ul>
				<script>
					$('.link').mouseenter(function(){
						$(this).find('.subnav').delay(250).slideToggle(250);
					});
					$('.link').mouseleave(function(){
						$(this).find('.subnav').slideToggle();
					})
				</script>
			</div>
		</div>
		
		<div class="subpage-main-img">
			<img src="images/header-img/image-1.jpg" alt="Contact Us">
			<h1 class="page-title">Contact Us</h1>
			<div class="divider"><img src="images/divider.png"></div>
		</div>

		<div class="container-fluid subpage-body-container">
			<div class="container body-copy">
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2 icon">
						<img src="images/icons/red-phone-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Call Us</p>
						<p class="thin">Ready to get your project started? Please give us a call, we can't wait to hear from you.</p>
						<p class="thick"><a href="tel: 515-207-3778">515.207.3778</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2">
						<img src="images/icons/red-pin-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Visit Us</p>
						<p class="thin">Come see our products in person and see our ever-changing inventory.</p>
						<p class="thick">4060 NW Urbandale Drive, Urbandale, IA 50322</p>
						<p><a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 contact-method">
					<div class="col-xs-2">
						<img src="images/icons/red-email-icon.png" class="img-responsive">
					</div>
					<div class="col-xs-10">
						<p>Send An Email</p>
						<p class="thin">You can send us an email with your questions and we will get back with you shortly.</p>
						<p><a href="">Send Us a Message <span class="fa fa-long-arrow-right"></span></a></p>
					</div>
				</div>
			</div>
		</div>
		
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjKVWPN-cZldj2olFqVTOtLhzGeG63_NE&callback=initMap" async defer></script>-->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

        
        <script type="text/javascript">
        	google.maps.event.addDomListener(window, 'load', initMap);
            function initMap() {
                var mapOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(41.5906217, -93.7278505),
					disableDefaultUI: true,
                    styles: [{"featureType":"administrative","elementType":"labels","stylers":[{"color":"#FFFFFF"},{"visibility":"simplified"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"simplified"},{"color":"#303030"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#000000"},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.text","stylers":[{"visibility":"simplified"},{"color":"#FFFFFF"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#808080"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"color":"#FFFFFF"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#303030"}]}]
                };
                var mapElement = document.getElementById('map');
                var map = new google.maps.Map(mapElement, mapOptions);
				var image = 'images/marker.png';
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(41.5906217, -93.7278505),
                    map: map,
					icon: image,
                    title: ''
                });
            }
        </script>
		
		<div class="container-fluid map-container">
			<div id="map"></div>
		</div>
		
		<div class="container-fluid form-container">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1 class="form-title">Send us a message</h1>
						<div class="divider"><img src="images/gray-divider.png"></div>
					</div>
				</div>
				<div class="row form">
					<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
						<form class="contact-form">
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<input type="text" name="fname" class="form-field" placeholder="Your First Name">
								</div>
								<div class="col-xs-12 col-md-6">
									<input type="text" name="lname" class="form-field" placeholder="Your Last Name">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<input type="email" name="email" class="form-field" placeholder="Your Email Address">
								</div>
								<div class="col-xs-12 col-md-6">
									<input type="tel" name="phone" class="form-field" placeholder="Your Phone Number">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<input type="text" name="company" class="form-field" placeholder="Your Company Name">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<textarea name="company" class="form-area" placeholder="Your Company Name" rows="7"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="captcha-container">
									<div class="g-recaptcha" data-sitekey="6LfUIjwUAAAAAGt-WmJAVhZSEvUCuQaoOakcUKt-"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="black-btn">Send message <span class="fa fa-long-arrow-right"></span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-container container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<span class="fa fa-youtube-play"></span>
						<span class="fa fa-facebook-official"></span>
					</div>
					<div class="col-xs-12 col-md-7">
						<div class="col-xs-12 col-md-4">
							Call Us: <a href="tel:515-207-3778">515.207.3778</a>
						</div>
						<div class="col-xs-12 col-md-8">
							Visit Us: <a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank">4060 NW Urbandale Drive, Urbandale, IA 50322</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<a href="https://www.hon.com/" target="_blank"><img src="images/hon-logo.png" class="img-responsive" alt="HON"></a>
					</div>
				</div>
				<div class="row footer-bottom">
					<div class="col-xs-12 col-sm-7">
						<a href="">Privacy Policy</a>
						<a href="">Terms of Use</a>
					</div>
					<div class="col-xs-12 col-sm-5 bottom-right">
						&copy;<span id="year"></span> Business Furniture Warehouse <span class="red">|</span> Authorized Hon office furniture source.
					</div>
					<script>
						$(document).ready(function(){
							var currentYear = (new Date).getFullYear();
							$("#year").text( (new Date).getFullYear() );
						})
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>