<div class="container-fluid mid-nav">
	<div class="col-xs-12 text-center">
		<ul>
			<li><a href="/new-office-furniture/desks">Desks</a></li>
			<li><a href="/new-office-furniture/chairs">Chairs</a></li>
			<li><a href="/new-office-furniture/tables">Tables</a></li>
			<li><a href="/new-office-furniture/cubicles-workstations">Cubicles / Workstations</a></li>
			<li><a href="/new-office-furniture/storage-files">Storage &amp; Files</a></li>
			<li><a href="/new-office-furniture/work-tools">Work Tools</a></li>
		</ul>
	</div>
</div>


<div class="container-fluid furniture-tiles">
	<div class="tile">
		<a href="/new-office-furniture/desks">
			<div class="category">
				Desks
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/desks.jpg" class="tile-img">
		</a>
	</div>
	<div class="tile">
		<a href="/new-office-furniture/chairs">
			<div class="category">
				Chairs
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/chairs.jpg" class="tile-img">
		</a>
	</div>
	<div class="tile">
		<a href="/new-office-furniture/tables">
			<div class="category">
				Tables
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/tables.jpg" class="tile-img">
		</a>
	</div>
	<div class="tile">
		<a href="/new-office-furniture/cubicles-workstations">
			<div class="category">
				Cubicles / Workstations
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/cubicles.jpg" class="tile-img">
		</a>
	</div>
	<div class="tile">
		<a href="/new-office-furniture/storage-files">
			<div class="category">
				Storage &amp; Files
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/storage.jpg" class="tile-img">
		</a>
	</div>
	<div class="tile">
		<a href="/new-office-furniture/work-tools">
			<div class="category">
				Work Tools
			</div>
			<img src="/presents/bfw/designs/images/new-furniture/tools.jpg" class="tile-img">
		</a>
	</div>
</div>

		
<%= render :partial => 'includes/questions' %>