<div class="breadcrumb-container">
	<div class="container">
		<div class="col-xs-12">
			<ul class="breadcrumb">
				<li><a href="index.html">Home</a></li><li>Inspiration</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid mid-nav">
	<div class="col-xs-12 text-center">
		<ul>
			<li><a href="/new-office-furniture/desks">Desks</a></li>
			<li><a href="/new-office-furniture/chairs">Chairs</a></li>
			<li><a href="/new-office-furniture/tables">Tables</a></li>
			<li><a href="/new-office-furniture/cubicles-workstations">Cubicles / Workstations</a></li>
			<li><a href="/new-office-furniture/storage-files">Storage &amp; Files</a></li>
			<li><a href="/new-office-furniture/work-tools">Work Tools</a></li>
		</ul>
	</div>
</div>

<div class="container-fluid items-list">
	
</div>

		
<%= render :partial => 'includes/questions' %>