<div class="breadcrumb-container">
	<div class="container">
		<div class="col-xs-12">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li><li><a href="/new-office-furniture">New Furniture</a></li><li>Chairs</li>
			</ul>
			<div class="categories">
				<div class="current-category">
					Choose Another Category <span class="fa fa-angle-down"></span>
				</div>
				<div class="category-list-container">
					<ul class="category-list">
						<a href=""><li>Desks</li></a>
						<a href=""><li>Tables</li></a>
						<a href=""><li>Cubicles/Workstations</li></a>
						<a href=""><li>Storage &amp; Files</li></a>
						<a href=""><li>Wooktools &amp; Misc.</li></a>
					</ul>
				</div>
				<script>
					$('.categories').mouseenter(function(){
						$('.category-list-container').slideDown(250);
					});
					$('.categories').mouseleave(function(){
						$('.category-list-container').slideUp(250);
					});
				</script>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mid-nav">
	<div class="col-xs-12 text-center">
		<ul>
			<li><a href="/new-office-furniture/chairs/breakroom-chairs">Breakroom Chairs</a></li>
			<li><a href="/new-office-furniture/chairs/desk-chairs">Desk / Office Chairs</a></li>
			<li><a href="/new-office-furniture/chairs/lounge-chairs">Lounge Chairs</a></li>
			<li><a href="/new-office-furniture/chairs/conference-chairs">Conference Chairs</a></li>
			<li><a href="/new-office-furniture/chairs/side-chairs">Visitor/Guest/Side Chairs</a></li>
		</ul>
	</div>
</div>

<div class="container-fluid items-list">
	<!-- Each listing do -->
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
			<div class="status new"></div>
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
			<div class="status sale"></div>
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="listing-img">
			<img src="/presents/bfw/designs/images/stools.jpg" alt="img desc" class="img-responsive">
		</div>
		<div class="listing-desc">
			<div class="listing-title">Iowa/Iowa State Tables &amp; Stools</div>
			<div class="listing-teaser">These stools and tables are great to create an official divided breakroom for your local fans.</div>
		</div>
	</div>
</div>

<%= render :partial => 'includes/questions' %>