//Globals
@rale: 'Raleway', sans-serif;
@sans: 'Open Sans', sans-serif;
@dark-gray: #38393b;
@light-gray: #515254;
@very-light-gray: #edeef0;
@red: #e51f25;
@orange: #e86620;
body{
	font-family: @sans;
	font-size: 16px;
	line-height: 26px;
	color: @dark-gray; 
	h1, h2, h3, h4, h5, h6{
		font-family: @rale;
	}
}

.site-wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	height: auto;
	width: 100vw;
	overflow: hidden;
}

.main-nav-container{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 110px;
	padding: 0px 15px 20px 15px;
	z-index: 999 !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	.mobi-nav{
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 15px;
		@media(min-width:1200px){
			display: none;
		}
		.logo-container{
			position: relative;
			width: 80%;
			height: auto;
			float: left;
			.logo{
				width: 100%;
				max-width: 246px;
				@media(max-width:375px){
					img{
						height: 50px;
						width: auto;
					}
				}
			}
			.sticky-logo{
				width: 100%;
				max-width: 205px;
				display: none;
				@media(max-width:550px){
					img{
						height: 50px;
						width: auto;
					}
				}
			}
		}
		.bars-container{
			position: relative;
			width: 50px;
			height: 40px;
			margin-top: 5px;
			padding: 0px 8px;
			float: right;
			border: 2px solid rgba(255,255,255,0.25);
			background: rgba(0,0,0,0.5);
			@media(min-width:992px) and (max-width:1199px){
				&:hover{
					cursor: pointer;
				}
			}
			.bar{
				width: 30px;
				height: 5px;
				transition: all .5s;
				position: absolute;
				display: block;
			}
			.top-bar{
				top: 6px;
				background: white;
				transition: all .5s;
			}
			.mid-bar{
				top: 16px;
				background: white;
				transition: all .5s;
			}
			.bot-bar{
				top: 26px;
				background: white;
				transition: all .5s;
			}
			.topDown{
				animation: .5s linear forwards alternate topDown;
				background: @red;
			}
			.topUp{
				animation: .5s linear forwards alternate topUp;
			}
			.midDown{
				animation: .5s linear forwards alternate topDown;
			}
			.botUp{
				animation: .5s linear forwards alternate botUp;
				background: @red;
			}
			.botDown{
				animation: .5s linear forwards alternate botDown;
			}
			.midUp{
				animation: .5s linear forwards alternate midUp;
				background: @red;
			}
			.midDown{
				animation: .5s linear forwards alternate midDown;
			}
			@keyframes topDown{
				0%{
					top: 6px;
					transform: rotate(0deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 16px;
					transform: rotate(45deg);
				}
			}
			@keyframes midUp{
				0%{
					top: 16px;
					transform: rotate(0deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 16px;
					transform: rotate(45deg);
				}
			}
			@keyframes botUp{
				0%{
					top: 26px;
					transform: rotate(0deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 16px;
					transform: rotate(-45deg);
				}
			}
			@keyframes topUp{
				0%{
					top: 16px;
					transform: rotate(45deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 6px;
					transform: rotate(0deg);
				}
			}
			@keyframes midDown{
				0%{
					top: 16px;
					transform: rotate(45deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 16px;
					transform: rotate(0deg);
				}
			}
			@keyframes botDown{
				0%{
					top: 16px;
					transform: rotate(-45deg);
				}
				25%{
					top: 16px;
					transform: rotate(0deg);
				}
				50%{
					top: 16px;
					transform: rotate(0deg);
				}
				75%{
					top: 16px;
					transform: rotate(0deg);
				}
				100%{
					top: 26px;
					transform: rotate(0deg);
				}
			}
		}
	}
	.nav{
		position: relative;
		width: 100%;
		list-style: none;
		padding: 0px;
		font-family: @rale;
		font-size: 16px;
		line-height: 16px;
		font-weight: bold;
		z-index: 99 !important;
		@media(min-width:1200px) and (max-width:1440px){
			font-size: 15px;
		}
		@media(min-width:1px) and (max-width:1199px){
			display: none;
		}
		li{
			display: inline-block;
		}
		.logo-container, .links, .icons{
			float: left;
		}
		.logo-container{
			position: relative;
			width: 15%;
			padding-top: 20px;
			margin-left: 0px;
			@media(min-width:1441px) and (max-width:1540px){
				width: 13%;
			}
			.logo{
				img{
					position: relative;
					display: block;
					max-width: 100%;
					width: 246px;
				}
			}
			.sticky-logo{display: none;}
		}
		.links{
			position: relative;
			padding-top: 60px;
			height: 107px;
			width: 70%;
			display: block;
			margin: 0 auto;
			text-align: center;
			@media(min-width:1200px) and (max-width:1249px){
				width: 80%;
			}
			.link{
				position: relative;
				margin-left: 45px;
				height: 50px;
				@media(min-width: 1641px) and (max-width:1740px){
					margin-left: 40px;
				}
				@media(min-width: 1541px) and (max-width:1640px){
					margin-left: 30px;
				}
				@media(min-width:1441px) and (max-width:1540px){
					margin-left: 20px;
				}
				@media(min-width:1200px) and (max-width:1440px){
					margin-left: 15px;
				}
				&:hover{
					&:after{
						background: @red;
						transition: all .35s;
						width:100%;
						left: 0;
						margin-left: 0px;
						padding-left: 15px;
						padding-right: 15px;
					}
				}
				&:after{
					position: absolute;
					content: '';
					height: 1px;
					width: 40px;
					top: 45px;
					left: 50%;
					margin-left: -20px;
					background: white;
					transition: all .35s;
				}
				.subnav{
					position: absolute;
					height: auto;
					width: 225px;
					left: 0px;
					margin-left: 0px;
					padding: 0px;
					top: 46px;
					background: url(img/subnav-bg.png) repeat;
					text-align: left;
					display: none;
					a{
						font-size: 16px;
						font-family: @sans;
						font-weight: 300;
					}
					ul{
						padding: 0px;
						marign: 0px;
						li{
							display: block;
							height: auto;
							width: 100%;
							padding: 13px 20px;
							border-top: 1px solid @light-gray;
							border-left: 3px solid @dark-gray;
							&:first-child{
								border-top: none;
							}
							&:hover{
								border-left: 3px solid @red;
							}
						}
					}
				}
			}
		}
		.icons{
			position: relative;
			padding-top: 50px;
			width: 15%;
			.show-more{
				color: white;
				display: none;
			}
			@media(min-width:1441px) and (max-width:1540px){
				width: 17%;
			}
			@media(min-width:1250px) and (max-width:1440px){
				width: 14%;
			}
			@media(min-width:1200px) and (max-width:1249px){
				position: absolute;
				width: 100px;
				height: 35px;
				padding-top: 0px;
				overflow: hidden;
				margin-top: 50px;
				margin-right: -50px;
				right: 0px;
				.show-more{
					position: relative;
					float: left;
					left: 0px;
					top: 5px;
					color: white;
					font-size: 28px;
					display: block;
					&:hover{
						cursor: pointer;
						color: @red !important;
					}
				}
			}
			@media(min-width:992px) and (max-width:1199px){
				display: none;
			}
			.icon{
				height: 27px;
				width: 27px;
				margin-left: 15px;
				margin-top: 5px;
				border: 2px solid rgba(255,255,255,.25);
				border-radius: 50px;
				padding: 5px;
				@media(min-width:1249px) and (max-width:1440px){
					margin-left: 10px;
				}
				&:hover{
					border: 2px solid rgba(255,255,255,1);
					cursor: pointer;
				}
				img{
					display: block;
					position: relative;
					max-width: 100%;
				}
			}
			.email{
				margin-top: 2px;
			}
			.pin{
				margin-left: 0px;
				margin-top: -1px;
			}
			.search{
				margin-left: 1px;
			}
			.phone{
				margin-top: 1px;
			}
		}
	}
	a{
		color: white;
		text-decoration: none;
	}
	.search-container{
		height: auto;
		width: 350px;
		background: rgba(0,0,0,.5);
		border: 1px solid rgba(255,255,255,.25);
		position: absolute;
		padding: 30px;
		margin-top: 0px;
		top: 105px;
		right: 0px;
		display: none;
		.nav-search{
			width: 300px;
			height: 40px;
			border: 1px solid @dark-gray;
			position: relative;
			display: block;
			margin: 0 auto;
			padding-left: 15px;
		}
	}
}
.mobi-menu{
	position: fixed;
	top: 0px;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.8);
	z-index: 98 !important;
	text-align: center;
	padding-top: 60px;
	display: none;
	overflow: auto;
	.mobi-link-container{
		position: relative;
		height: auto;
		padding-bottom: 150px;
		display: block;
		top: 50%;
		transform: translateY(-35%);
		&:after{
			content: '';
			position: relative;
			height: 50px;
			width: 100px;
		}
		p{
			//border-bottom: 1px solid @yellow;
			padding-bottom: 5px;
		}
	}
	a{
		font-size: 24px;
		//font-family: @replay;
		letter-spacing: .05em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.sticky-nav{
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px !important;
	background: black !important;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	transition: all .35s;
	.links{
		padding-top: 34px !important;
	}
	.logo-container{
		padding-top: 10px !important;
		.sticky-logo{
			display: none;
			img{
				position: relative;
				display: block;
				max-width: 195px;
			}
		}
	}
	.icons{
		@media(min-width:1250px){
			padding-top: 23px !important;
		}
		@media(min-width:1200px) and (max-width:1249px){
			position: absolute;
			width: 100px;
			height: 35px;
			padding-top: 0px;
			overflow: hidden;
			margin-top: 23px !important;
			margin-right: -50px;
			right: 0px;
			top: 0px;
			.show-more{
				position: relative;
				float: left;
				left: 0px;
				top: 5px;
				color: white;
				font-size: 28px;
				display: block;
				&:hover{
					cursor: pointer;
					color: @red !important;
				}
			}
		}
	}
	.search-container{
		margin-top: 0px;
		top: 80px !important;
	}
}

.main-hero-container{
	position: relative;
	height: auto;
	width: 100vw;
	left: 0px;
	top: 0px;
	z-index: 1 !important;
	padding: 0px;
	.customNav{
		position: absolute;
		width: 100vw;
		height: 1px;
		left: 0px;
		top: 45%;
		transform: translateY(-50%);
		z-index: 2 !important;
		@media(max-width: 767px){
			display: none;
		}
		.owl-prev{
			position: absolute;
			left: 20px;
			opacity: .7;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
		.owl-next{
			position: absolute;
			right: 20px;
			opacity: .7;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
	}
	.hero{
		position: relative;
		left: 0px;
		height: auto;
		width: 100vw;
		background: black;
		z-index: 1 !important;
		padding: 0px;
		.item{
			img{
				width: 100vw; 
				height: auto;
				opacity: .8;
			}
			.hero-text-container{
				position: absolute;
				max-width: 100%;
				height: auto;
				display: block;
				top: 50%;
				transform: translateY(-50%);
				font-size: 90px;
				line-height: 110px;
				font-family: @rale;
				font-weight: bold;
				color: white;
				padding: 0px 150px;
				@media(min-width:1200px) and (max-width:1249px){
					font-size: 80px;
					line-height: 90px;
				}
				@media(min-width:992px) and (max-width:1199px){
					padding-top: 20px;
					padding-bottom: 30px;
					font-size: 50px;
					line-height: 60px;
				}
				@media(min-width:768px) and (max-width:991px){
					padding-top: 0px;
					padding-bottom: 30px;
					font-size: 40px;
					line-height: 50px;
					top: 60%;
				}
				@media(max-width:767px){
					padding-top: 0px;
					padding-bottom: 30px;
					padding-left: 10px;
					padding-right: 10px;
					font-size: 40px;
					line-height: 50px;
					text-align: center;
				}
				h1{
					text-transform: uppercase;
					@media(min-width:768px) and (max-width:991px){
						line-height: 44px;
						padding-top: 0px;
						font-size: 44px
					}
				}
				h2{
					color: white;
					padding-top: 15px;
					padding-bottom: 30px;
					@media(min-width:992px) and (max-width:1199px){
						padding-top: 10px;
						padding-bottom: 10px
					}
					@media(min-width:768px) and (max-width:991px){
						padding-top: 0px;
						font-size: 30px;
					}
				}
				a{
					text-decoration: none;
				}
				.divider-container{
					@media(max-width:767px){
						width: 200px;
						display: block;
						margin: 10px auto;
						img{
							width: 100%;
						}
					}
				}
				.clear-btn{
					transition: all .35s;
					@media(max-width:767px){
						display: block;
						margin-top: 15px;
						margin-left: auto;
						margin-right: auto;
						width: 90%;
						max-width: 450px;
					}
					&:hover{
						cursor: pointer;
						background-color: white;
						color: @red;
					}
				}
			}
		}
	}
}

.contact-strip{
	height: auto;
	width: 100%;
	padding: 55px 0px;
	background: @very-light-gray;
	color: @dark-gray;
	font-size: 20px;
	line-height: 20px;
	font-family: @sans;
	font-weight: 300;
	@media(min-width:768px) and (max-width:1199px){
		font-size: 14px;
	}
	@media(max-width:767px){
		font-size: 16px;
		.col-xs-12{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	.section-title{
		font-size: 22px;
		line-height: 22px;
		color: black;
		font-family: @rale;
		font-weight: bold;
		@media(min-width:768px) and (max-width:1199px){
			font-size: 16px;
			line-height: 16px;
		}
		@media(max-width:767px){
			font-size: 18px;
			line-height: 18px;
		}
	}
	.icon-img{
		position: relative;
		float: left;
		margin-right: 30px;
		@media(min-width:768px) and (max-width:991px){
			margin-right: 10px;
		}
		@media(max-width:767px){
			margin-right: 15px;
			width: 40px;
			height: auto;
		}
	}
	a{
		color: inherit;
		text-decoration: none;
		transition: color .35s;
		&:hover{
			color: @red;
		}
	}
}

.deal-slider-container{
	position: relative;
	padding-top: 90px;
	padding-bottom:90px;
	a{
		text-decoration: none;
	}
	.dealNav{
		position: absolute;
		width: 100vw;
		height: 10px;
		top: 40%;
		@media(max-width:767px){
			display: none;
		}
		.prev{
			position: absolute;
			left: 0px;
			opacity: .6;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
		.next{
			position: absolute;
			right: 30px;
			opacity: .6;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
	}
	.section-title{
		border-bottom: 1px solid @very-light-gray;
		.col-sm-10, .col-sm-2{
			padding: 0px;
		}
		h3{
			font-size: 32px;
			line-height: 32px;
			font-weight: bold;
			color: black;
		}
		p{
			font-family: @rale;
			font-size: 18px;
			line-height: 18px;
			color: @light-gray;
			font-weight: bold;
		}
		.right{
			padding-top: 45px;
			a{
				color: inherit;
				transition: color .35s;
				&:hover{
					color: @red;
				}
			}
			.fa{
				color: @red;
				margin-left: 10px;
			}
		}
		.sm-red-divider{
			position: absolute;
			margin-top: 1px;
		}
	}
	.deal-slider{
		margin-top: 50px;
		@media(min-width:768px) and (max-width:991px){
			padding: 0px 50px;
			margin: 50px 0px 0px -10px;
		}
		.item{
			.deal-img{
				
			}
			.slide-title{
				font-size: 22px;
				line-height: 22px;
				font-weight: bold;
				font-family: @rale;
				color: @light-gray;
				margin-top: 35px;
				padding-bottom: 15px;
				border-bottom: 1px solid @very-light-gray;
				text-align: center;
			}
			.slide-desc{
				font-size: 18px;
				line-height: 28px;
				color: @light-gray;
				font-family: @sans;
				font-weight: 300;
				text-align: center;
				margin-top: 10px;
				padding-left: 15px;
				padding-right: 15px;
			}
			.clear-btn{
				position: relative;
				border: 1px solid @light-gray;
				color: @light-gray;
				text-align: center;
				width: 150px;
				height: auto;
				padding: 5px 0px 7px 0px;
				font-size: 18px;
				margin: 25px auto 0 auto;
				transition: all .35s;
				.fa{
					color: @red;
				}
				&:hover{
					background: @red;
					border-color: @red;
					color: white;
					cursor: pointer;
					.fa{
						color: white;
					}
				}
			}
		}
	}
}

.tiles-container{
	position: relative;
	padding-bottom: 80px;
	padding-left: 7px;
	padding-right: 7px;
	height: auto;
	max-width: 100%;
	@media(max-width:991px){
		padding-left: 0px;
		padding-right: 0px;
	}
	@media(max-width:767px){
		padding-bottom: 0px;
	}
	.tile{
		position: relative;
		color: white;
		width: 49%;
		float: left;
		background: @dark-gray;
		margin-top: 15px;
		margin-left: .5%;
		margin-right: .5%;
		@media(min-width:992px) and (max-width:1199px){
			height: 350px;
			overflow: hidden;
		}
		@media(min-width:768px) and (max-width:991px){
			width: 100%;
			margin-bottom: 35px;
			margin-left: 0%;
			margin-right: 0%;
		}
		@media(max-width:767px){
			width: 100%;
			margin:0px;
		}
		.left-tile{
			position: relative;
			width: 50%;
			height: auto;
			float: left;
			padding: 0px 45px;
			text-align: center;
			background: @dark-gray;
			z-index: 2 !important;
			display: block;
			@media(min-width:992px) and (max-width:1199px){
				padding: 0px 15px;
				top: 50%;
				transform: translateY(-50%);
			}
			@media(max-width:767px){
				width: 100%;
				padding: 25px 15px;
			}
		}
	
		.right-tile{
			position: relative;
			width: 50%;
			float: left;
			z-index: 1 !important;
			img{
				height: 100%;
			}
			@media(max-width:767px){
				width: 100%;
			}
		}
		.b-right-tile{
			position: relative;
			width: 50%;
			height: auto;
			float: left;
			padding: 0px 45px;
			text-align: center;
			background: @dark-gray;
			z-index: 2 !important;
			display: block;
			@media(min-width:992px) and (max-width:1199px){
				padding: 0px 15px;
				top: 50%;
				transform: translateY(-50%);
			}
			@media(max-width:767px){
				width: 100%;
				padding: 25px 15px;
			}
		}
	
		.b-left-tile{
			position: relative;
			width: 50%;
			float: left;
			z-index: 1 !important;
			overflow: hidden;
			img{
				height: 100%;
			}
			@media(max-width:767px){
				width: 100%;
			}
		}
		
		.tile-title{
			text-transform: uppercase;
			font-size: 28px;
			line-height: 28px;
			padding-bottom: 0px;
			margin-top: 5vw;
			@media(min-width:1514px) and (max-width:1557px){
				margin-top: 3vw;
			}
			@media(min-width:1400px) and (max-width:1513px){
				margin-top: 2vw;
			}
			@media(min-width:1200px) and (max-width:1399px){
				font-size: 24px;
				line-height: 24px;
				margin-top: 2vw;
			}
			@media(min-width:992px) and (max-width:1199px){
				font-size: 20px;
				line-height: 20px;
				margin-top: 1vw;
			}
		}
		p{
			padding-top: 10px;
			font-size: 18px;
			line-height: 28px;
			font-family: @sans;
			@media(min-width:1200px) and (max-width:1399px){
				font-size: 16px;
				line-height: 20px;
			}
			@media(min-width:992px) and (max-width:1199px){
				position: relative;
				font-size: 16px;
				line-height: 20px;
				padding-top: 0px;
				top: -15px;
			}
		}
		.sm-red-divider{
			display: inline-block;
			@media(min-width:992px) and (max-width:1199px){
				position: relative;
				top: -15px;
			}
		}
		.down-arrow{
			margin-top: 25px;
			@media(min-width:992px) and (max-width:1199px){
				margin-top: 0px;
				top: -15px;
			}
		}
		.img{
			position: relative;
			width: 100%;
			height: auto;
			@media(min-width:992px) and (max-width:995px){
				height: 250px;
				width: auto;
			}
		}		
	}
	.margin-right{
		margin-right: 1%;
	}
}
.home-about-container{
	position: relative;
	background: url(img/home-about-bg.jpg) center no-repeat;
	background-size: cover;
	padding: 0px;
	overflow: hidden;
	@media(max-width: 767px){
		padding: 0px;
		margin: 0px;
		.container{
			padding: 0px;
			margin: 0px;
		}
	}
	.left-container{
		padding-top: 100px;
		padding-bottom: 100px;
		padding-right: 25px;
		color: white;
		width: 50%;
		float: left;
		@media(max-width:767px){
			width: 100%;
			padding: 25px 15px;
		}
		.divider-container{
			max-width: 252px;
			max-height: 12px;
			margin-bottom: 30px;
		}
		h2{
			font-size: 44px;
			line-height: 44px;
			font-weight: bold;
		}
		p{
			padding-bottom: 15px;
			.fa{
				color: @red;
				margin-left: 10px;
			}
		}
		strong{
			font-size: 18px;
			line-height: 28px;
			font-weight: bold;
		}
		a{
			color: inherit;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @red;
			}
		}
	}
	.right-container{
		position: absolute;
		width: 50%;
		min-height: 100%;
		right: 0px;
		background: url(img/video.jpg) center no-repeat;
		background-size: cover;
		@media(max-width:767px){
			width: 100%;
			min-height: 0px;
			height: auto;
			position: relative;
		}
		.vid-img{
			visibility: hidden;
			width: 100%;
			height: auto;
		}
	}
}

//-------------- SubPage ------------ \\
.subpage-nav-bg{
	position: relative;
	height: 230px;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	background: url(img/subpage-nav-bg.jpg) repeat;
}

.subpage-main-img{
	position: relative;
	max-height: 700px;
	width: 100vw;
	overflow: hidden;
	@media(max-width:767px){
		height: 300px;
	}
	img{
		height: auto;
		width: 100%;
		position: relative;
		z-index: 1 !important;
		@media(max-width:767px){
			height: 100%;
			width: auto;
		}
	}
	.page-title{
		position: absolute;
		font-family: @rale;
		font-size: 90px;
		font-weight: bold;
		line-height: 110px;
		color: white;
		text-align: center;
		width: 100%;
		display: block;
		margin: 0 auto;
		bottom: 100px;
		z-index: 5 !important;
		@media(max-width:767px){
			font-size: 40px;
			line-height: 40px;
			bottom: 60px;
		}
	}
	.divider{
		position: absolute;
		color: white;
		width: 360px;
		height: 8px;
		margin-left: 50%;
		left: -180px;
		bottom: 88px;
		z-index: 5 !important;
		@media(max-width:767px){
			width: 200px;
			left: 50%;
			margin-left: -100px;
			bottom: 50px;
			img{
				width: 100%;
			}
		}
	}
}

.breadcrumb-container{
	height: 120px;
	width: 100vw;
	background: @dark-gray;
	padding-top: 43px;
	z-index: 30 !important;
	.breadcrumb{
		padding: 0px;
		list-style: none;
		background-color: transparent;
		color: white;
		font-family: @rale;
		font-size: 22px;
		font-weight: bold;
		float: left;
		@media(max-width:767px){
			display: none;
		}
		li{
			position: relative;
			display: inline-block;
			margin-right: 10px;
			&:after{
				content: '/';
				position: relative;
				color: @light-gray;
				margin-left: 10px;
			}
			&:before{
				content: '';
				padding: 0px;
			}
			&:last-child{
				&:after{
					content: '';
					padding: 0px;
				}
			}
		}
		a{
			font-family: @rale;
			font-size: 22px;
			color: white;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @red;
			}
		}
	}
	.categories{
		position: relative;
		float: right;
		height: auto;
		width: auto;
		display: block;
		top: -7px;
		@media(max-width:767px){
			clear: both;
			float: none;
		}
		.current-category{
			@media(max-width:767px){
				font-size: 16px;
			}
			height: 50px;
			width: auto;
			font-family: @rale;
			font-size: 20px;
			font-weight: bold;
			color: white;
			background: black;
			padding: 12px 10px;
			&:hover{
				cursor: pointer;
			}
			.fa{
				color: @red;
				margin-left: 7px;
			}
		}
		.category-list-container{
			position: absolute;
			height: auto;
			width: 100%;
			background: black;
			display: none;
			z-index: 30 !important;
			.category-list{
				padding: 0px;
				list-style: none;
				a{
					color: white;
					transition: color .35s;
					text-decoration: none;
					&:hover{
						color: @red;
					}
				}
				li{
					height: 45px;
					padding: 8px 10px 0px 10px;
					border-top: 1px solid @light-gray;
				}
			}
		}
	}
}

.subpage-body-container{
	background: white;

	.body-copy{
		position: relative;
		width: 100%;
		padding-top: 80px;
		.page-title{
			font-family: @rale;
			font-size: 64px;
			font-weight: bold;
			line-height: 64px;
			color: @dark-gray;
			text-align: center;
		}
		.divider{
			position: relative;
			margin: 0 auto;
			padding: 0px;
			width: 357px;
			height: auto;
			//background: @very-light-gray;
		}
		.seo-text{
			font-family: @sans;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
			padding-top: 55px;
		}
		.contact-method{
			p{
				font-family: @rale;
				font-size: 22px;
				font-weight: bold;
				color: black;
				padding-bottom: 50px;
				a{
					font-family: @rale;
					font-size: 18px;
					color: @light-gray;
					text-decoration: none;
					transition: color .35s;
					&:hover{
						color: @red;
					}
				}
			}
			.thin{
				font-family: @sans;
				font-size: 16px;
				font-weight: 100;
				line-height: 26px;
				color: @light-gray;
			}
			.thick{
				font-size: 24px;
				font-family: @sans;
				font-weight: bold;
				color: black;
				a{
					font-size: 24px;
					font-family: @sans;
					font-weight: bold;
					color: black;
					text-decoration: none;
					transition: color .35s;
					&:hover{
						color: @red;
					}
				}
			}
		}
	}
}

.mid-nav{
	height: 115px;
	width: 100%;
	background: #FFF;
	padding-top: 45px;
	@media(max-width:767px){
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
		height: auto;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0px;
		.col-xs-12{
			padding-left: 0px;
			padding-right: 0px;
			margin: 0px;
		}
	}
	ul{
		padding: 0px;
		li{
			list-style: none;
			display: inline-block;
			margin-right: 45px;
			&:last-child{
				margin-right: 0px;
			}
			@media(max-width:767px){
				display: block;
				margin-right: 0px;
				height: 40px;
				padding-top: 6px;
				border-bottom: 1px solid @very-light-gray;
			}
		}
	}
	a{
		font-family: @rale;
		font-size: 18px;
		font-weight: bold;
		line-height: 22px;
		text-decoration: none;
		color: black;
		transition: color .35s;
		&:hover{
			color: @red;
		}
	}
	.active{
		color: @red !important;
	}
}
.furniture-tiles{
	padding: 0px;
	.tile{
		position: relative;
		width: 33.33%;
		float: left;
		overflow: hidden;
		@media(max-width:767px){
			width: 100%;
		}
		&:hover{
			.tile-img{
				-moz-transform: scale(1.1);
  				-webkit-transform: scale(1.1);
  				transform: scale(1.1);
			}
		}
		.tile-img{
			position: relative;
			width: 100%;
			z-index: 1 !important;
			transition: all .3s;
		}
		.category{
			position: absolute;
			font-size: 64px;
			line-height: 64px;
			font-family: @rale;
			font-weight: bold;
			color: white;
			z-index: 2 !important;
			height: auto;
			width: 100%;
			text-align: center;
			top: 42%;
			@media(max-width:767px){
				font-size: 40px;
				line-height: 40px;
			}
		}
	}	
}
.sub-body-container{
	background: white;
	.backlink-container{
		padding: 45px 0px 20px 0px;
		border-bottom: 1px solid @light-gray;
		.col-xs-12{
			@media(min-width: 768px){
				padding-left: 0px;
			}
		}
		a{
			font-family: @rale;
			font-size: 20px;
			font-weight: bold;
			color: @light-gray;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @red;
			}
			.fa{
				color: @red;
			}
		}
		.sm-red-divider{
			position: absolute;
			margin-top: 47px;
		}
	}

	.body-copy{
		position: relative;
		width: 100%;
		padding-top: 80px;
		.page-title{
			font-family: @rale;
			font-size: 64px;
			font-weight: bold;
			line-height: 64px;
			color: @dark-gray;
			text-align: center;
		}
		.divider{
			position: relative;
			margin: 0 auto;
			padding: 0px;
			width: 357px;
			height: auto;
			//background: @very-light-gray;
		}
		.seo-text{
			font-family: @sans;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
			padding-top: 55px;
		}
		.contact-method{
			a{
				color: inherit;
				text-decoration: none;
				transition: color .35s;
				&:hover{
					color: @red;
				}
			}
		}
	}
}

.back-container{
	border-bottom: 1px solid @dark-gray;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-left: 0px;
	.sm-red-divider{
		position: absolute;
		bottom: 0px;
		left: 0px;
		margin-bottom: -5px;
	}
	a{
		font-size: 20px;
		font-family: @rale;
		font-weight: bold;
		color: @dark-gray;
		text-decoration: none;
		transition: color .35s;
		&:hover{
			color: @red;
		}
		.fa{
			color: @red;
		}
	}
}

.item-container{
	padding-top: 80px;
	padding-bottom: 100px;
	.item-name{
		text-align: center;
		h1{
			font-family: @rale;
			font-size: 64px;
			font-weight: bold;
			padding-bottom: 0px;
		}
	}
	.item-details{
		padding-top: 70px;
		position: relative;
		.slider-container{
			position: relative;
			height: auto;
			width: 100%;
			display: block;
			.item-slider{
				position: relative;
				height: auto;
				width: 90%;
				margin: 0 auto;
				.owl-dots{
					position: relative;
					margin-top: 10px;
					height: 15px;
					width: auto;
					text-align: center;
					.owl-dot{
						height: 10px;
						width: 10px;
						border: 1px solid @red;
						display: inline-block;
						margin-left: 5px;
						margin-right: 5px;
						&:hover{
							background: @red;
						}
					}
					.active{
						background: @red;
					}
				}
			}
			.customNav{
				position: absolute;
				width: 98%;
				height: 1px;
				left: 1%;
				top: 50%;
				transform:translateY(-50%);
				.prev{
					position: absolute;
					left: 0px;
					opacity: .7;
					&:hover{
						opacity: 1;
						cursor: pointer;
					}
				}
				.next{
					position: absolute;
					right: 0px;
					opacity: .7;
					&:hover{
						opacity: 1;
						cursor: pointer;
					}
				}
			}
		}
		.item-video{
			position: relative;
			height: 350px;
			width: 90%;
			margin: 50px auto 0px auto;
		}
		.right{
			h2{
				font-size: 22px;
				font-family: @rale;
				font-weight: bold;
				color: @dark-gray;
				padding-bottom: 10px;
				margin-top: 40px;
			}
			p{
				font-family: @sans;
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
				color: dark-gray;
			}
			.item-blurb{
				.up{
					margin-top: 0px;
				}
			}
			.item-download{
				h2{
					border-bottom: 1px solid @dark-gray;
				}
				a{
					font-family: @sans;
					font-size: 16px;
					font-weight: bold;
					line-height: 26px;
					color: black;
					text-decoration: none;
					transition: color .35s;
					&:hover{
						color: @red;
					}
				}
				ul{
					list-style: none;
					padding: 0px;
					li{
						margin-top: 30px;
						&:before{
							content: '\f1c1';
							font-family: FontAwesome;
							font-size: 24px;
							color: @red;
							position: relative;
							margin-right: 10px;
							top: 3px;
						}
					}
				}
			}
			.getting-started{
				padding-top: 75px;
				.clear-btn{
					border: 1px solid @dark-gray;
					font-family: @sans;
					font-size: 22px;
					color: @dark-gray;
					background-color: transparent;
					transition: all .35s;
					&:hover{
						background-color: @red;
						color: white;
						border: 1px solid @red;
						.fa{
							color: white;
						}
					}
					.fa{
						color: @red;
						transition: color .35s;
					}
				}
			}
		}
	}
}

.items-list{
	margin-bottom: 50px;
	@media(max-width:767px){
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
		.col-xs-12{
			padding: 0px;
			margin: 0px;
		}
	}
	.listing-img{
		position: relative;
		width: auto;
		height: auto;
		z-index: 1 !important;
		.status{
			position: absolute;
			width: 180px;
			height: 42px;
			display: inline-block;
			bottom: 20px;
			left: -10px;
		}
		.new{
			background: url(img/new-flag.png) no-repeat;
		}
		.sale{
			background: url(img/sale-flag.png) no-repeat;
		}
	}
	.listing-desc{
		padding: 25px 20px 0px 20px;
		height: 170px;
		@media(max-width:767px){
			height: auto;
			padding: 25px 20px;
		}
		a{
			text-decoration: none;
			color: @light-gray;
			transition: color .35s;
			&:hover{
				color: @red;
			}
		}
		.listing-title{
			font-family: @rale;
			font-size: 20px;
			font-weight: bold;
		}
		.listing-teaser{
			font-family: @sans;
			font-size: 16px;
			line-height: 26px;
			font-weight: 300;
			color: @light-gray;
		}
	}
}

.map-container{
	padding: 0px;
	#map{
		height: 660px;
		width: 100%;
	}
}

.form-container{
	padding-top: 50px;
	padding-bottom: 70px;
	.form-title{
		font-size: 64px;
		font-weight: bold;
	}
	.form{
		padding-top: 75px;
		.contact-form{
			.form-field{
				border: 1px solid #ccc;
				padding-left: 15px;
				font-size: 18px;
				font-family: @sans;
				color: black;
				width: 100%;
				height: 50px;
				margin-bottom: 30px;
			}
			.form-area{
				border: 1px solid #ccc;
				padding-left: 15px;
				padding-top: 10px;
				font-size: 18px;
				font-family: @sans;
				color: black;
				width: 100%;
				margin-bottom: 30px;
			}
			.captcha-container{
				width: 300px;
				height: 100px;
				position: relative;
				margin: 0 auto;
			}
			.black-btn{
				margin: 30px auto 0px auto;
				&:hover{
					background: @dark-gray;
				}
				.fa{
					position: relative;
					color: @red;
					margin-left: 10px;
					top: 2px;
				}
			}
		}
	}
}

.contact-container{
	position: relative;
	height: 210px;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	background: url(img/footer-contact.jpg) repeat;
	color: white;
	padding: 70px 0px;
	@media(min-width:768px) and (max-width:991px){
		height: auto;
		padding: 40px 0px;
		text-align: center;
	}
	a{
		color: white;
		text-decoration: none;
		transition: color .35s;
		&:hover{
			color: @red;
		}
	}
	.method{
		padding-top: 8px;
	}
	.thin{
		position: relative;
		top: -9px;
	}
	.thick{
		position: relative;
		top: -5px;
	}
}

.gallery-container{
	padding: 80px 5px;
	.grid{
		display: block;
		width: auto;
		.grid-item{
			.hover-text-container{
				position: absolute;
				left: 10px;
				height: 50px;
				width: auto;
				padding: 10px 20px;
				background: rgba(0,0,0,0.6);
				color: white;
				font-size: 14px;
				font-family: @sans;
				font-weight: 300;
				z-index: 2 !important;
				opacity: 0;
			}
			.moveDown{
				-webkit-animation: .25s linear forwards alternate moveDown;
        		animation: .25s linear forwards alternate moveDown;
        		-moz-animation: .25s linear forwards alternate moveDown;
			}
			@keyframes moveDown{
				0%{
					bottom: 0px;
					opacity: 1;
				}
				100%{
					bottom: -50px;
					opacity: 0;
				}
			}
			.moveUp{
				-webkit-animation: .25s linear forwards alternate moveUp;
        		animation: .25s linear forwards alternate moveUp;
        		-moz-animation: .25s linear forwards alternate moveUp;
			}
			@keyframes moveUp{
				0%{
					bottom: -50px;
					opacity: 0;
				}
				100%{
					bottom: 0px;
					opacity: 1;
				}
			}
			img{
				position: relative;
				display: block;
				width: 100%;
				padding-right: 10px;
				padding-left: 10px;
				margin-bottom: 20px;
				z-index: 1 !important;
				&:hover{
					opacity: .8;

				}
			}
		}
		.star {
			position: relative;
        	visibility: hidden;
    	}
	    .fadeIn {
	        -webkit-animation: animat_show 0.8s;
	        animation: animat_show 0.8s;
	        visibility: visible !important;
	    }

	    @keyframes animat_show{
	        0%{opacity:0}
	        100%{opacity:1}
	    }
		.grid-col-small{
			float: left;
			width: 36.85%;
			height: auto;
			display: block;
			overflow: hidden;
			@media(min-width:1576px){
				width: 37%;
			}
			@media(min-width:768px) and (max-width: 991px){
				width: 36.5%;
			}
			.grid-item-small{
				width: 100%;
				height: auto;
				position: relative;
				z-index: 1 !important;
				display: block;
				.hover-text-container{
					bottom: 0px;
				}
			}
		}
		.grid-col-large{
			float: left;
			width: 63.15%;
			height: auto;
			display: block;
			overflow: hidden;
			@media(min-width:1576px) and (max-width: 1800px){
				width: 63%;
			}
			@media(min-width:768px) and (max-width: 991px){
				width: 63.5%;
			}
			.grid-item-large{
				width: 100%;
				height: auto;
				position: relative;
				z-index: 1 !important;
				display: block;
			}
		}
	}
}
//-------------- End SubPage ------------ \\

//-------------- Gallery Page ------------ \\

//-------------- End Gallery Page ------------ \\

.footer-container{
	padding-top: 50px;
	padding-bottom: 50px;
	background: @dark-gray;
	color: white;
	a{
		color: white;
		text-decoration: none;
		transition: color .35s;
		&:hover{
			color: @red;
		}
	}
	.footer-social{
		@media(max-width:991px){
			width: 100%;
			text-align: center;
		}
		.fa{
			font-size: 32px;
			margin-right: 5px;
			margin-left: 5px;
			border: 1px solid #6a6b6c;
			height: 50px;
			width: 50px;
			border-radius: 100px;
			transition: all .40s;
			&:hover{
				border: 1px solid @red;
			}
		}
		.fa-facebook-official{
			position: relative;
			padding-top: 8px;
			padding-left: 10px;
			@media(max-width:991px){
				padding-left: 1px;
			}
		}
		.fa-youtube-play{
			position: relative;
			padding-top: 8px;
			padding-left: 9px;
			@media(max-width:991px){
				padding-left: 1px;
			}
		}
	}
	.footer-contact{
		@media(max-width:991px){
			text-align: center;
		}
		.xs-strong{
			@media(max-width:991px){
				font-weight: bold;
				width: 100%;
				text-align: center;
				display: block;
				margin-top: 15px;
			}
		}
	}
	.footer-logo{
		@media(max-width:991px){
			img{
				display:block;
				position: relative;
				margin: 15px auto;
			}
		}
	}
	.footer-bottom{
		padding-top: 100px;
		@media(max-width:991px){
			padding-top: 5px;
		}
		a{
			font-size: 16px;
			font-weight: bold;
			color: white;
			transition: color .35s;
			font-family: @rale;
			text-decoration: none;
			margin-right: 35px;
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				color: @red;
			}
			@media(max-width:991px){
				position: relative;
				top: 20px;
			}
		}
		.bottom-right{
			font-size: 14px;
			font-weight: 100;
			font-family: @sans;
			@media(max-width:991px){
				text-align: center;
				padding-top: 15px;
			}
			.red{
				margin-left: 7px;
				margin-right: 7px;
				@media(max-width:991px){
					display: none;
				}
			}
		}
	}
}
//------------- Random --------------- \\
.sm-red-divider{
	height: 4px;
	width: 80px;
	background-color: @red;
}

.divider-container{
	position: relative;
	margin-top: 15px;
	max-width: 357px;
	max-height: 8px;
	img{
		max-width: 100%;
	}
}
.down-arrow{
	position: relative;
}
.thin{
	font-weight: 100 !important;
}
.thick{
	font-weight: bold !important;
}
.red{
	color: @red !important;
}
//------------- End Random --------------- \\

//------------ Buttons ------------------ \\
.clear-btn{
	width: auto;
	height: auto;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	font-size: 22px;
	line-height: 24px;
	font-family: @sans;
	text-align: center;
	padding: 20px 40px;
	.fa{
		margin-left: 13px;
	}
}
.black-btn{
	position: relative;
	font-size: 22px;
	font-family: @sans;
	color: white;
	background: black;
	transition: all .35s;
	border: none;
	height: auto;
	width: 255px;
	display: block;
	padding: 10px 0px 17px 0px;
	&:hover{
		background: @dark-gray;
	}
	.fa{
		position: relative;
		color: @red;
		margin-left: 10px;
		top: 2px;
	}
}
//------------ End Buttons ------------------ \\


//------------ Bootstrap changes -------------- \\
.container{
	@media(min-width:1340px) and (max-width:1440px){
		width:1300px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1441px) and (max-width:1540px){
		width:1400px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1541px) and (max-width:1640px){
		width:1500px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1641px) and (max-width:1740px){
		width:1600px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1741px){
		width:1700px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

