		<div class="footer-container container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-3 footer-social">
						<% if @property.youtube_url.present? %>
						   <a href="<%= @property.youtube_url %>" target="_blank"><span class="fa fa-youtube-play"></span></a>
						<% end %>
						<% if @property.facebook_url.present? %>
							<a href="<%= @property.facebook_url %>" target="_blank"><span class="fa fa-facebook-official"></span></a>
						<% end %>
						<% if @property.tweeter_name.present? %>
						   <a href="<%= @property.tweeter_name %>" target="_blank"><span class="fa fa-twitter"></span></a>
						<% end %>
						<% if @property.instagram_url.present? %>
						   <a href="<%= @property.instagram_url %>" target="_blank"><span class="fa fa-instagram"></span></a>
						<% end %>
						<% if @property.snapchat_url.present? %>
							 <a href="<%= @property.snapchat_url %>" target="_blank"><span class="fa fa-snapchat"></span></a>
						<% end %>
						<% if @property.pinterest_url.present? %>
							 <a href="<%= @property.pinterest_url %>" target="_blank"><span class="fa fa-pinterest"></span></a>
						<% end %>
						<% if @property.google_pluse_url.present? %>
							 <a href="<%= @property.google_pluse_url %>" target="_blank"><span class="fa fa-google-plus"></span></a>
						<% end %>
					</div>
					<div class="col-xs-12 col-md-7 footer-contact">
						<div class="col-xs-12 col-md-4">
							<span class="xs-strong">Call Us:</span> <a href="tel:<%= @property.main_phone %>"><%= @property.security_phone %></a>
						</div>
						<div class="col-xs-12 col-md-8">
							<span class="xs-strong">Visit Us:</span> <a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank">4060 NW Urbandale Drive, Urbandale, IA 50322</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-2 footer-logo">
						<a href="https://www.hon.com/" target="_blank"><img src="/presents/bfw/designs/images/hon-logo.png" class="img-responsive" alt="HON"></a>
					</div>
				</div>
				<div class="row footer-bottom">
					<div class="col-xs-12 col-sm-7">
						<a href="">Privacy Policy</a>
						<a href="">Terms of Use</a>
					</div>
					<div class="col-xs-12 col-sm-5 bottom-right">
						&copy;<span id="year"></span> Business Furniture Warehouse <span class="red">|</span> Authorized Hon office furniture source.
					</div>
					<script>
						$(document).ready(function(){
							var currentYear = (new Date).getFullYear();
							$("#year").text( (new Date).getFullYear() );
							
							$('.current-category').click(function(){
								$('.category-list-container').slideToggle();
							});
						});
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>