	<div class="container-fluid main-nav-container">
			<div class="container">
				<ul class="nav">
					<div class="logo-container">
						<li class="logo"><a href="/"><img src="/presents/bfw/designs/images/BFW-Logo.png" class="img-responsive"></a></li>
						<li class="sticky-logo"><a href="/"><img src="/presents/bfw/designs/images/red-logo.png" class="img-responsive"></a></li>
					</div>
					<div class="links">
						<li class="link">
							<a href="/new-office-furniture">New Office Furniture</a>
							<div class="subnav">
								<ul>
									<li><a href="/new-office-furniture/desks">Desks</a></li>
									<li><a href="/new-office-furniture/chairs">Chairs</a></li>
									<li><a href="/new-office-furniture/tables">Tables</a></li>
									<li><a href="/new-office-furniture/storage-files">Storage &amp; Files</a></li>
									<li><a href="/new-office-furniture/cubicles-workstations">Cubicles/Workstations</a></li>
									<li><a href="/new-office-furniture/worktools">Worktools &amp; Misc</a></li>
								</ul>
							</div>
						</li>
						<li class="link">
							<a href="/pre-owned-office-furniture">Pre-Owned Office Furniture</a>
							<div class="subnav">
								<ul>
									<li><a href="/pre-owned-office-furniture/desks">Desks</a></li>
									<li><a href="/pre-owned-office-furniture/chairs">Chairs</a></li>
									<li><a href="/pre-owned-office-furniture/tables">Tables</a></li>
									<li><a href="/pre-owned-office-furniture/storage-files">Storage &amp; Files</a></li>
									<li><a href="/new-office-furniture/cubicles-workstations">Cubicles/Workstations</a></li>
									<li><a href="/new-office-furniture/work-tools">Worktools &amp; Misc</a></li>
								</ul>
							</div>
						</li>
						<li class="link"><a href="/rental-office-furniture">Rental Office Furniture</a></li>
						<li class="link"><a href="">Sale</a></li>
						<li class="link"><a href="">Service</a></li>
						<li class="link"><a href="">About Us</a></li>
						<li class="link"><a href="">Contact Us</a></li>
					</div>
					<div class="icons">
						<li class="show-more"><span class="fa fa-long-arrow-left"></span></li>
						<li class="icon search-con"><img class="search" src="/presents/bfw/designs/images/icons/search-icon.png"></li>
						<a href="tel:<%= @property.main_phone %>"><li class="icon"><img class="phone" src="/presents/bfw/designs/images/icons/phone-icon.png"></li></a>
						<a href="https://www.google.com/maps/dir//4060+NW+Urbandale+Dr,+Urbandale,+IA+50322/@41.6346569,-93.7951775,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87ec2746cab36f41:0x96ed0256daf34d21!2m2!1d-93.7600724!2d41.6345981" target="_blank"><li class="icon"><img class="pin" src="/presents/bfw/designs/images/icons/pin-icon.png"></li></a>
						<a href="/contact-us"><li class="icon"><img class="email" src="/presents/bfw/designs/images/icons/email-icon.png"></li></a>
					</div>
				</ul>
				<div class="search-container">
					<form>
						<input type="text" name="search" class="nav-search" placeholder="Product Search">
					</form>
				</div>

				
				<div class="mobi-nav">
					<div class="logo-container">
						<div class="logo"><a href="/"><img src="/presents/bfw/designs/images/BFW-Logo.png" class="img-responsive"></a></div>
						<div class="sticky-logo"><a href="/"><img src="/presents/bfw/designs/images/red-logo.png" class="img-responsive"></a></div>
					</div>
					<div class="bars-container">
						<div class="bar top-bar"></div>
						<div class="bar mid-bar"></div>
						<div class="bar bot-bar"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="mobi-menu">
			<div class="mobi-link-container">
				<a href="/"><p>home</p></a>
				<a href="/new-office-furniture"><p>New Office Furniture</p></a>
				<a href="/pre-owned-office-furniture"><p>Pre-Owned Office Furniture</p></a>
				<a href="/rental-office-furniture"><p>Rental Office Furniture</p></a>
				<a href="/contact-us"><p>Contac Us</p></a>
				<a href="/privacy-policy"><p>Privacy Policy</p></a>
				<a href="/terms-of-use"><p>Terms of Use</p></a>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				slideNav();
				subNav();
				mobiNav();
				showSearch();
			});
			function subNav(){
				$('.link').mouseenter(function(){
					$(this).find('.subnav').clearQueue().stop().delay(250).slideDown(250);
				});
				$('.link').mouseleave(function(){
					$(this).find('.subnav').slideUp();
				});
			}
			function slideNav(){
				var isOpen = 0;
				
				$('.show-more').click(function(){
					if(isOpen==0){
						isOpen = 1;
						$('.show-more').html('<span class="fa fa-long-arrow-right"></span>');
						$('.logo-container').animate({"left":"-=100px","width":"0%"}, 750).hide(750);
						$('.links').animate({"width":"78%","left":"-=50px"}, 750);
						$('.icons').animate({"width":"250px", "margin-right":"0px"}, 750);
					}else if(isOpen==1){
						isOpen = 0;
						$('.show-more').html('<span class="fa fa-long-arrow-left"></span>');
						$('.logo-container').animate({"left":"0px","width":"15%"}, 750).show();
						$('.links').animate({"width":"80%","left":"0px"}, 750);
						$('.icons').animate({"width":"100px", "margin-right":"-=50px"}, 750);
					}
				});
			}
			function mobiNav(){
				var isClicked = 0;
				$('.mobi-nav').click(function(){
					if(isClicked == 0){
						isClicked = 1;
						$('.top-bar').addClass('topDown');
						$('.mid-bar').addClass('midUp');
						$('.bot-bar').removeClass('botDown');
						$('.top-bar').removeClass('topUp');
						$('.bot-bar').addClass('botUp');
						$('.mid-bar').removeClass('midDown');
						showMenu();
					}else if(isClicked == 1){
						isClicked = 0;
						$('.top-bar').removeClass('topDown');
						$('.bot-bar').addClass('botDown');
						$('.mid-bar').addClass('midDown');
						$('.top-bar').addClass('topUp');
						$('.bot-bar').removeClass('botUp');
						$('.mid-bar').removeClass('midUp');
						hideMenu();
					}
				});
				$('.mobi-menu').click(function(){
					isClicked = 0;
					$('.top-bar').removeClass('topDown');
					$('.bot-bar').addClass('botDown');
					$('.mid-bar').addClass('midDown');
					$('.top-bar').addClass('topUp');
					$('.bot-bar').removeClass('botUp');
					$('.mid-bar').removeClass('midUp');
					hideMenu();
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').addClass('nav-down');
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
			}
			function showSearch(){
				$('.search-con').click(function(){
					$('.search-container').slideToggle();
				});
			}
		</script>
		<script>
			$(document).scroll(function() {
				var y = $(this).scrollTop();
				if (y > 80) {
					$('.logo').hide();
					$('.sticky-logo').show();
					$('.main-nav-container').addClass('sticky-nav');
				} else {
					$('.logo').show();
					$('.sticky-logo').hide();
					$('.main-nav-container').removeClass('sticky-nav');
				}
			});
		</script>