<div class="container-fluid contact-container">
	<div class="container">
		<div class="col-xs-12 col-md-5 col-lg-6">
			<h2>Any Questions? Call Us or Contact Us Online</h2>
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-7 col-lg-6">
			<div class="col-xs-12 col-sm-6 method">
				<div class="col-xs-3">
					<img src="/presents/bfw/designs/images/icons/red-phone-icon.png" alt="Call Us">
				</div>
				<div class="col-xs-9">
					<span class="thick">Call Us</span><br><span class="thin"><a href="tel:<%= @property.main_phone %>"><%= @property.security_phone %></a></span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 method">
				<div class="col-xs-3">
					<img src="/presents/bfw/designs/images/icons/red-email-icon.png" alt="Call Us">
				</div>
				<div class="col-xs-9">
					<span class="thick">Send An Email</span><br><span class="thin"><a href="/contact-us">Contact Us Directly</a></span>
				</div>
			</div>
		</div>
	</div>
</div>