<div class="breadcrumb-container">
	<div class="container">
		<div class="col-xs-12">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li><li><a href="/new-office-furniture">New Furniture</a></li><li><a href="/new-office-furniture/chairs">Chairs</a></li><li><a href="/new-office-furniture/chairs/breakroom-chairs">Breakroom Chairs</a></li>
			</ul>
			<div class="categories">
				<div class="current-category">
					Choose Another Category <span class="fa fa-angle-down"></span>
				</div>
				<div class="category-list-container">
					<ul class="category-list">
						<a href=""><li>Desk / Office Chairs</li></a>
						<a href=""><li>Lounge Chairs</li></a>
						<a href=""><li>Conference Chairs</li></a>
						<a href=""><li>Visitor/Guest/Side Chairs</li></a>
					</ul>
				</div>
				<script>
					$('.categories').mouseenter(function(){
						$('.category-list-container').slideDown(250);
					});
					$('.categories').mouseleave(function(){
						$('.category-list-container').slideUp(250);
					});
				</script>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-xs-12 back-container">
		<a href="/new-office-furniture/chairs/breakroom-chairs"><span class="fa fa-long-arrow-left"></span> Back to Breakroom Chairs</a>
		<div class="sm-red-divider"></div>
	</div>
</div>

<div class="container-fluid item-container">
	<div class="row">
		<div class="col-xs-12 item-name">
			<h1>HON Motivate</h1>
			<div class="divider"><img src="/presents/bfw/designs/images/gray-divider.png"></div>
		</div>
	</div>
	<div class="row item-details">
		<div class="col-xs-12 col-sm-6 col-md-7">
			<div class="slider-container">
				<div class="customNav">
					<div class="prev"><img src="/presents/bfw/designs/images/red-prev-btn.png"></div>
					<div class="next"><img src="/presents/bfw/designs/images/red-next-btn.png"></div>
				</div>
				<div class="item-slider owl-carousel">
					<div class="item">
						<img src="/presents/bfw/designs/images/deals/deal-1.jpg" class="img-responsive">
					</div>
					<div class="item">
						<img src="/presents/bfw/designs/images/deals/deal-2.jpg" class="img-responsive">
					</div>
					<div class="item">
						<img src="/presents/bfw/designs/images/deals/deal-3.jpg" class="img-responsive">
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					itemOwl = $('.item-slider');
					itemOwl.owlCarousel({
						items: 1,
						margin: 0,
						nav: false,
						dots: true,
						loop: true,
						center: false,
						autoplay:4000,
						smartSpeed:2050,
						autoplayHoverPause: true
					});
					// Custom Navigation Events
					$(".prev").click(function () {
						 itemOwl.trigger('prev.owl.carousel');
					});

					$(".next").click(function () {
						 itemOwl.trigger('next.owl.carousel');
					});
				});
			</script>
			<div class="item-video">
				<iframe width="100%" height="350" src="https://www.youtube.com/embed/nXMCdQrULlk?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="item-video">
				<iframe width="100%" height="350" src="https://www.youtube.com/embed/cNWCNlVw8eU?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 right">
			<div class="item-blurb">
				<h2 class="up">Rethinking Traditional Solutions</h2>
				<p>Today's learning environments are active, with students learning by connecting and collaborating. The more engaged students are, the more they contribute and comprehend. When looking for a comprehensive space that incorporates the latest in technology and mobile furnishings, educators are looking to Motivate. The Motivate line of tables, seating and presentation tools offer a universal solution that works from the classroom to the cafeteria, and everywhere in between. When you want the ultimate in comfort, flexibility and technology support, just Motivate your student body.</p>
				<h2>Getting Exactly What You Need</h2>
				<p>The Motivate line of products is the result of years of studying the specific needs of various educational settings. At HON, we understand how students use chairs and tables and the unique tools that presenters need. Every detail has been examine'd, such as the table legs that are designed closer to the edge to provide maximum legroom. Chair 6 ptions include high density, 4-leg stackers, nesting, swivel chairs and stools. Choose casters or glides, fixed or adjustable height tables, technology options, tablet arms on chairs ... the combinations are endless. Combined with all the technology and presentation tools you'll need, Motivate has the power to inspire everyone</p>
			</div>
			<div class="item-download">
				<h2>Download More Information</h2>
				<ul>
					<a href=""><li>Motivate Educational Brochure</li></a>
					<a href=""><li>Motivate Seating Brochure</li></a>
					<a href=""><li>Motivate Full-Line Brochure</li></a>
					<a href=""><li>Motivate Designer Perspective</li></a>
				</ul>
			</div>
			<div class="getting-started">
				<a href="contact-us"><button class="clear-btn">Contact Us to Get Started <span class="fa fa-long-arrow-right"></span></button></a>
			</div>
		</div>
	</div>
</div>